.scroll_wrapper {
    overflow: hidden;
    width: 100vw;
    .words {
        // width: fit-content;
        display: flex;
        flex-wrap: nowrap;
        // justify-content: flex-end;
        .word {
            font-size:30vw;
            font-weight: 900;
            flex-shrink:0;
            padding-right:0.3em;
            padding-left:0.3em;       
            margin:0;	
        }
    }
}